:root {
    --o-60: #ce7d63;
    --o-65: #d48e77;
    --o-70: #da9e8b;
    --o-80: #e7beb1;
    --o-90: #f3dfd8;
    --o-95: #f9efec;
    --o-97: #fbf5f3;
    --o-99: #fefcfb;

    --d-06: #0f0f0f;
    --d-10: #191919;
    --d-12: #1f1f1f;
    --d-15: #262626;
    --d-20: #333333;
    --d-25: #404040;
    --d-30: #4c4c4c;
    --d-35: #595959;

    --g-40: #676665;
    --g-50: #81807E;
    --g-70: #B3B3B2;
    --g-80: #cccccc;
    --g-90: #E6E6E6;
    --g-95: #F2F2F2;
    --g-97: #F7F7F7;
    --g-99: #FCFCFC;
}